# Dependencies
node_modules
**/node_modules

# Builds
dist
**/dist
dist-ssr
**/dist-ssr
**/.turbo

# Git
.git
**/.git

# Environment
.env
**/.env
*.local

# Logs
*.log

# Coverage
coverage
**/coverage
