# Dependencies
node_modules/
**/node_modules/

# Builds
dist/
**/dist/
dist-ssr/
**/dist-ssr/
.turbo/

# Environment variables
.env
.env.*
!.env.example
.env.development
.env.production
.env.local
.env.*.local
**/.env
**/.env.*
!**/.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Testing and coverage
coverage/
**/coverage/

# Local files
*.local

# Operating systems
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


backups/
*.dump

apps/backend/prisma/import/data/*.json